.hotel {
    @include flex;
    @include padding;

    &__img {
        width: 40%;
        img{
            width: 80%;
        }
    }

    &__info {
        width: 60%;

        h2 {
            @include font_1(3.6rem, 600, 5.7rem);
        }

        p {
            @include pragraph_m;
            @include font_1;
            color: $secondary;
        }

        button {
            @include btn;
            @include font_2;
        }
    }

}